<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Service App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is an app for documenting your service notes and much more. No more lost paper documents and service declerations, now it is all stored digitally for easier use.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
